.font-family{
  font-family: 'Poppins', sans-serif;
}
.background{
  background: linear-gradient(45deg, #0bceaf, transparent);
}
/* css for tab */
.tab{


background-image: linear-gradient(to right top, #450598, #c517e7, #420036, #290419, #eb2a2a);

}
.whitecolor{
  background-color: white;
}

.devchallenges{
  position: absolute;
height: 17px;
left: 59.08%;
right: 33.02%;
top: 32px;
height: 17px;
width: 108px;
left: 807.0009765625px;
top: 32px;
border-radius: nullpx;


}
.Artical{
  
  position: absolute;
  height: 17px;
  left: 69.33%;
  right: 27.01%;
  top: 32px;
}
.Workshops{
  position: absolute;
height: 17px;
left: 75.33%;
right: 19.47%;
top: 32px;
}

.commonfortext{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}

.reactangle{
  height: 44px;
width: 155px;
left: 0px;
top: 0px;
border-radius: 10px;

position: absolute;
height: 40px;
left: 83.33%;
right: 19.47%;
top: 20px;

/* Gradient/Yellow */

background: linear-gradient(135deg, #FD8B11 0%, #FECA01 100%);
border-radius: 10px;
}
.devsignin{
  height: 17px;
  left: 75.33%;
  right: 19.47%;
  top: 32px;
border-radius: nullpx;

font-family: Bjola;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 16px;
letter-spacing: 0.02em;
text-align: center;

position: absolute;
left: 22.58%;
right: 21.94%;
top: 36.36%;
bottom: 27.27%;



text-align: center;
letter-spacing: 0.02em;

color: #1E184D;

}
.rectanglethere{
  height: 482px;
width: 604px;
left: 64.0009765625px;
top: 135px;
border-radius: 16px;
background: #FFFFFF;
box-shadow: 0px 4px 35px 10px #00000014;


}
.hi{
 
position: absolute;
height: 44px;
left: 9.08%;

top: 70px;

font-family: Bjola;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 44px;
color:rgba(253, 139, 17, 1)


}
.This_is_your_design{
  
position: absolute;
height: 88px;
left: 9.08%;

top: 139px;

font-family: Bjola;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 44px;

/* Black / Black - 10 */

color: #161721;

}
.reactangleimage1{
  position: absolute;
    height: 200px;
    width: 230px;
    left: 68px;
    top: 242px;
    border-radius: 16px;
    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    border-radius: 16px;
}
.vector538{
  height: 81.13684844970703px;
width: 66.90032958984375px;
left: 203.34088134765625px;
top: 380px;
border-radius: [object Object]px;
background: rgba(23, 47, 51, 1);



}
.vector539{
  height: 21.86113739013672px;
width: 94.73161315917969px;
left: 189.9090576171875px;
top: 452.568359375px;
border-radius: 0px;
background: rgba(255, 255, 255, 1);


}
.vector533{
  height: 21.86113929748535px;
width: 94.73160552978516px;
left: 189.9090576171875px;
top: 452.568359375px;
border-radius: 0px;
border: 1px solid rgba(23, 47, 51, 1)
}
.path24{
  height: 46.49073791503906px;
width: 92.851806640625px;
left: 188px;
top: 420.10546875px;
border-radius: 0px;
background: rgba(254, 176, 57, 1);


}
